.venv
__pycache__
incident_files
.DS_Store
.env
development.env
production.env
testing.env
default.env
docker.env
aijaz.env
files/
credentials.json
token.json
app/static/images/events
reg_qr_codes/
tests/email_dir/
obsidian/
scripts/tax_receipts/
